.card {
  box-shadow: $box-shadow;

  &-header {
    background-color: $gray-100;
    text-align: left;

    h1,
    h2,
    h3,
    h4 {
      margin-bottom: 0;
      font-size: 1rem;
      font-weight: 500;
      color: $gray-700;
    }
  }
}
