.nf-form-content {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="phone"],
  textarea {
    @extend .form-control;
  }

  input[type="button"] {
    @extend .btn;
    @extend .btn-primary;
  }
}
