/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$spacer: 15px;

$gray-100: #f9fafb;
$gray-200: #d2d6dc;
$gray-700: #374151;
$gray-800: #161e2e;
$dark: $gray-800;

$theme-colors: (
  primary: #1a56db,
  primary-light: #ebf5ff
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$font-family-sans-serif: "Inter", sans-serif;

$box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
$border-color: $gray-200;
$input-border-color: $gray-200;
$card-border-color: lighten($gray-200, 5%);
$btn-box-shadow: $box-shadow;
$input-btn-font-size: 1rem;
