.tml-action main {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  @extend .card;

  .page-header {
    @extend .card-header;

    h1 {
      font-size: 1.3rem;
    }
  }

  .tml {
    form {
      @extend .card-body;
    }

    &-field {
      @extend .form-control;
    }

    &-button {
      @extend .btn;
      @extend .btn-primary;
    }

    &-links {
      @extend .card-footer;

      font-size: $font-size-sm;
      list-style-type: none;
      margin: 0;
      display: flex;
      justify-content: center;

      a {
        color: $gray-600;
      }

      li:not(:last-child)::after {
        content: "-";
        display: inline;
        margin-left: 6px;
        margin-right: 6px;
      }
    }
  }
}
